name: Trigger auto deployment for library-management

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/library-management-AutoDeployTrigger-a6bdbfe0-eea5-4b15-b2a5-a867deea874d.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.LIBRARYMANAGEMENT_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.LIBRARYMANAGEMENT_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.LIBRARYMANAGEMENT_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.LIBRARYMANAGEMENT_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.LIBRARYMANAGEMENT_REGISTRY_PASSWORD }}
          containerAppName: library-management
          resourceGroup: dscc-rg
          imageToBuild: javohiraliyev/library-management:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


